* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: auto;
    background: linear-gradient(to right, rgba(0, 191, 255, 0.7), rgba(0, 191, 255, 0) 60%), url('../IMG/img1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9) 90%);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
    position: relative;
    position: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
}

.search-bar input {
    padding: 5px;
    font-size: 14px;
    border: none;
    width: 250px;
    border-radius: 8px;
    outline: none;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #007081;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.hero {
    position: relative;
    height: 100vh;
    margin-left: 20px;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    z-index: 1;
}

.hero-content h1 {
    font-size: 60px;
    margin-top: 40%;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 800;
    margin-left: 30px;
}

.hero-content p {
    margin: 30px 0;
    max-width: 300px;
    margin-left: 30px;
}

.hero-content button {
    margin-left: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007081;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 8px;
    margin-top: 30px;
}

.social-links {
    position: fixed;
    top: 70%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.social-links a {
    display: inline-block;
}

.social-links i {
    width: 25px;
    color: #fff;
    font-size: 22px;
    height: 25px;
    text-align: center;
    margin: 3px 20px;
}

.bar {
    position: absolute;
    top: -150%;
    height: 200px;
    width: 2px;
    margin: 0px 32px;
    background-color: #fff;
}

.aboutUs {
    height: auto;
    background: rgba(0, 0, 0, 0.3);
}

.aboutUs h1{
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 800;
    margin-left: 175px;
    color: #fff;
}

.txt {
    margin: 40px auto;
    padding: 30px 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    font-size: 15px;
}

.aboutUs p {
    color: #fff;
    padding: 5px;text-align: justify;
    line-height: 1.5;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    margin-bottom: 30px;
    margin-top: 80px;
}

.cards{
    display: flex;
    margin-bottom: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25px;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
}

.card h3 {
    color: #fff;
}

.icon{
    width: 50px;
    height: 50px;
    background-color: #007081;
    border-radius: 8px;
    margin: 10px auto;
    border-radius: 50%;
}

.icon i {
    margin: 13px auto;
    font-size: 20px;
    color: #fff;
}

.cards p {
    font-size: 15px;
}

.cards button {
    padding: 5px 20px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #007081;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.cards button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    transform: scale(1.05);
}